html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../images/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  margin: 0px;
  pmargin: 0px;
  position: fixed;
  left: 75%;
  top: 3%;
  max-width: 100%;
  background-image: none;
}
.clublogo {
  margin: 0px;
  pmargin: 0px;
  position: fixed;
  left: 27%;
  top: 6%;
  max-width: 100%;
  background-image: none;
}

.four-boards img {
  margin: 0px;
  position: fixed;
  left: 35%;
  bottom: 14%;
  max-width: 100%;
  height: auto;
}

.chess img {
  margin: 0px;
  position: fixed;
  left: 35%;
  top: 86.75%;
  max-width: 100%;
  background-image: none;
}

.card img {
  margin: 0px;
  position: fixed;
  left: 52.5%;
  top: 86.75%;
  max-width: 100%;
}

.checkers img {
  margin: 0px;
  position: fixed;
  left: 61.3%;
  top: 86.75%;
  max-width: 100%;
}

.dice img {
  margin: 0px;
  position: fixed;
  left: 45%;
  top: 86.75%;
  max-width: 100%;
  background-image: none;
}



.sidenav {
  height: 100%;

  width: 160px;

  position: fixed;

  z-index: 1;

  top: 0;

  left: 0;
  background-color: #111;

  overflow-x: hidden;

  padding-top: 20px;
}



.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}



.sidenav a:hover {
  color: #f1f1f1;
}



.main {
  margin-left: 160px;

  padding: 0px 10px;
}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}



.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 200px;

  font-size: 20px;

  padding: 0px 10px;
}


.active {
  background-color: green;
  color: white;
}


.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.footer {
  position: fixed;
  top: 84%;
  left: 36%;
  width: 100%;
  height: 60px;
  background: transparent;
}

.site-footer {
  background: black;
}

h1 {
  position: fixed;
  left: 35%;
  top: 5%;
}

* {
  box-sizing: border-box
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}



.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 100%;
}



.modal {
  display: none;

  position: fixed;

  z-index: 1;

  left: 0;
  top: 0;
  width: 100%;

  height: 100%;

  overflow: auto;

  background-color: #474e5d;
  padding-top: 50px;
}



.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;

  border: 1px solid #888;
  width: 80%;

}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box
}



input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

* {
  box-sizing: border-box
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}



.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

@media only screen and (max-width: 1920px) {
  .fourboards {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
